.Container{
  margin: 0px;
  padding: 20px;
  width: 80%;
  height: 80vh;
  background: url("https://avatanplus.com/files/resources/mid/58da8088597dd15b158614af.jpg");
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .mySwiper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .SwiperSlide{
      width: 20%;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.ldsdualring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card{
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  .cardHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
      object-fit: cover;
      width: 100px;
      margin: 0px;
    }
    .mainInfo{
      width: 50%;
    }
    .weatherCity{
      font-size: 25px;
    }
    
    .weatherDate{
      font-size: 30px;
      font-weight: 400;
    }
    .weatherDegree{
      display: flex;
      flex-direction: column;
      .weatherMidDeg{
        font-size: 60px;
        margin: 0px;
        font-weight: 200;
      }
      .lessDegree{
        color: blue;
      }
    }
  }
  .cardFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .weatherNav{
      display: flex;
      align-items: center;
      justify-content: center;
      ul{
        width: 80%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
        li{
          cursor: pointer;
        }
        :hover{
          border-bottom: 2px rgb(255, 255, 255) solid;
        }
      }
      ol{
        width: 30%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      hr{
        margin: 0px;
        width: 80%;
      }
    }
    .watherDaily{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }  
}
@media screen and(max-width:753px){
  .mySwiper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .SwiperSlide{
      width: 35% !important; 
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and(max-width:623px){
  .weatherNav{
    flex-direction: column;
  }
}

@media screen and(max-width: 500px){

  .weatherNav{
    ul{
      li{
        font-size: 13px;
      }
    }
  }
}